*{
  margin:0; 
  padding:0;
  border:0;
  font:inherit;
  vertical-align:baseline;
}

body{
	text-align: center;
}
h2{
	font-size: 50px;
}

h3{
	margin: 0;
	padding: 0;
	font-size: 25px;
}


section#mirei{
	padding: 20px 0 20px 0;
	width: 800px;
	border: #111 solid 5px;
	margin: 20px auto 20px auto;
}

p{
	padding: 30px;
}

div#copyrights{
	text-align: center;
}
